{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block content %}

<form action="/add_article{% if article %}/{{article.id}}{% endif %}" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required value="{{ article.title }}"><br><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="4" cols="50" required>{{ article.content }}</textarea><br><br>

    <label for="image-url">Image URL:</label><br>
    <input type="url" id="image-url" name="image-url" required value="{{ article.image or 'https://picsum.photos/id/237/200/300' }}" size="50"><br><br>

    <label for="category">Category:</label><br>
    <select id="category" name="category" required>
        <option value="">-- Select Category --</option>
        <option value="News">News</option>
        <option value="Sports">Sports</option>
        <option value="Finance">Finance</option>
    </select><br><br>

    <input type="submit" value="Submit">
</form>

{% endblock %}