
<div class="card-group">
    {% for article in news %}
    <div class="card">
        <img src="{{ article[3] }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ article[1] }}</h5>
            <p class="card-text">{{ article[2] }}.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <form method="POST" action="/delete_article/{{ article[0]}}"> <input type="submit" value="Delete" class="btn btn-danger"></form>
            <a href="/article/{{ article[0] }}">Update Article</a>&nbsp;

        </div>
    </div>
    {% endfor %}
</div>
