{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block content %}

<div class="card-group">
    {% for article in news %}
    <div class="card " style="max-width: 12rem;max-height: 5rem;">
        <img src="{{ article.image_url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content}}</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <form method="POST" action="/delete_article/{{ article.id }}"><input type="submit" value="Delete"
                    class="btn btn-danger">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}